@import url('https://fonts.cdnfonts.com/css/circular-std');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference');

@tailwind base;
@tailwind components;
@tailwind utilities;

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

body {
  margin: 0;
  font-family: 'Circular Std', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
